In [25]:
import pandas as pd

# Load the dataset
df = pd.read_csv('autos.csv')

In [26]:
df

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,...,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,...,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,...,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,...,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,...,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,...,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,...,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,...,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,...,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,...,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [27]:
# Drop any rows that have missing values
df = df.drop(['dateCrawled','lastSeen','dateCreated','name', 'seller', 'offerType','postalCode','nrOfPictures','index'], axis=1)
df = df.dropna()
df

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
5,650,test,limousine,1995,manuell,102,3er,150000,10,benzin,bmw,ja
6,2200,test,cabrio,2004,manuell,109,2_reihe,150000,8,benzin,peugeot,nein
7,0,test,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371520,3200,control,limousine,2004,manuell,225,leon,150000,5,benzin,seat,ja
371521,1150,control,bus,2000,manuell,0,zafira,150000,3,benzin,opel,nein
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [28]:
# Define a mapping of German values to English values
german_to_english = {
    'privat': 'private',
    'gewerblich': 'commercial',
    'Angebot': 'offer',
    'Gesuch': 'request',
    'limousine': 'sedan',
    'kleinwagen': 'compact car',
    'kombi': 'station wagon',
    'cabrio': 'convertible',
    'andere': 'other',
    'manuell': 'manual',
    'automatik': 'automatic',
    'benzin': 'gasoline',
    'diesel': 'diesel',
    'cng': 'natural gas',
    'lpg': 'liquefied petroleum gas',
    'ja': 'yes',
    'nein': 'no',
    'electro': 'electric'
}

# Convert the specified columns from German to English
df['vehicleType'] = df['vehicleType'].map(german_to_english)
df['gearbox'] = df['gearbox'].map(german_to_english)
df['fuelType'] = df['fuelType'].map(german_to_english)
df['notRepairedDamage'] = df['notRepairedDamage'].map(german_to_english)

In [29]:
df

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
3,1500,test,compact car,2001,manual,75,golf,150000,6,gasoline,volkswagen,no
4,3600,test,compact car,2008,manual,69,fabia,90000,7,diesel,skoda,no
5,650,test,sedan,1995,manual,102,3er,150000,10,gasoline,bmw,yes
6,2200,test,convertible,2004,manual,109,2_reihe,150000,8,gasoline,peugeot,no
7,0,test,sedan,1980,manual,50,andere,40000,7,gasoline,volkswagen,no
...,...,...,...,...,...,...,...,...,...,...,...,...
371520,3200,control,sedan,2004,manual,225,leon,150000,5,gasoline,seat,yes
371521,1150,control,NaN,2000,manual,0,zafira,150000,3,gasoline,opel,no
371524,1199,test,convertible,2000,automatic,101,fortwo,125000,3,gasoline,smart,no
371525,9200,test,NaN,1996,manual,102,transporter,150000,3,diesel,volkswagen,no
371527,28990,control,sedan,2013,manual,320,m_reihe,50000,8,gasoline,bmw,no

In [30]:
# Convert the Mileage, Power, Engine_Size, and Price columns to numeric types
df['kilometer'] = pd.to_numeric(df['kilometer'].replace('[^0-9]', ''))
df['powerPS'] = pd.to_numeric(df['powerPS'].replace('[^0-9]', ''))
# df['Engine_Size'] = pd.to_numeric(df['Engine_Size'].str.replace('[^0-9]', ''))
df['price'] = pd.to_numeric(df['price'].replace('[^0-9]', ''))

In [35]:
# Remove any rows where the Registration_Year is earlier than 1980 or later than 2021
df = df[(df['yearOfRegistration'] >= 1980) & (df['yearOfRegistration'] <= 2021)]

In [36]:
df = df.dropna()

In [37]:
df

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
3,1500,test,compact car,2001,manual,75,golf,150000,6,gasoline,volkswagen,no
4,3600,test,compact car,2008,manual,69,fabia,90000,7,diesel,skoda,no
5,650,test,sedan,1995,manual,102,3er,150000,10,gasoline,bmw,yes
6,2200,test,convertible,2004,manual,109,2_reihe,150000,8,gasoline,peugeot,no
7,0,test,sedan,1980,manual,50,andere,40000,7,gasoline,volkswagen,no
...,...,...,...,...,...,...,...,...,...,...,...,...
371517,7900,test,sedan,2010,manual,140,golf,150000,7,diesel,volkswagen,no
371518,3999,test,station wagon,2005,manual,3,3er,150000,5,diesel,bmw,no
371520,3200,control,sedan,2004,manual,225,leon,150000,5,gasoline,seat,yes
371524,1199,test,convertible,2000,automatic,101,fortwo,125000,3,gasoline,smart,no
371527,28990,control,sedan,2013,manual,320,m_reihe,50000,8,gasoline,bmw,no

In [38]:
df.to_csv('cleaned_used_cars_v1.csv', index=False)